@import "tailwindcss";

@layer utilities {
  .bg-legal-pattern {
    background-color: #f8fafc;
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

@keyframes popIn {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-pop {
  animation: popIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}